# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Environment folders
td_env/
.env/
.venv/

# IDE settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs/output
*.log
*.out
