# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
__MACOSX/

# Jupyter / logs
.ipynb_checkpoints/

# HuggingFace cache
.cache/
# Project dataset (do not commit)
ZendeskArticles/

# Local dependency freeze (optional)
requirements.txt
