absl-py==2.3.1
astunparse==1.6.3
cachetools==6.2.4
certifi==2025.11.12
charset-normalizer==3.4.4
filelock==3.19.1
flatbuffers==25.12.19
fsspec==2025.10.0
gast==0.7.0
google-auth==2.41.1
google-auth-oauthlib==1.2.3
google-pasta==0.2.0
grpcio==1.76.0
h5py==3.14.0
hf-xet==1.2.0
huggingface-hub==0.36.0
idna==3.11
importlib_metadata==8.7.1
keras==2.15.0
libclang==18.1.1
Markdown==3.9
MarkupSafe==3.0.3
ml-dtypes==0.2.0
numpy==1.25.2
oauthlib==3.3.1
opt_einsum==3.4.0
packaging==25.0
protobuf==4.25.8
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyYAML==6.0.3
regex==2025.11.3
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
safetensors==0.7.0
six==1.17.0
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-hub==0.15.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.1.0
tokenizers==0.19.1
tqdm==4.67.1
transformers==4.44.2
typing_extensions==4.15.0
urllib3==2.6.2
Werkzeug==3.1.4
wrapt==1.14.2
zipp==3.23.0
